---
# WHETHER TO USE THE CAMERA SERVER
useCameraServer: false

# PDP
pdp:
  org.usfirst.frc.team449.robot.jacksonWrappers.PDP:
    '@id': PDP
    canID: 0
    voltagePerCurrentLinReg:
      bufferSize: 250
      rSquaredThreshhold: 0.75

# ROBOT SUBSYSTEMS
subsystems:
  # ROBOT DRIVE
  - org.usfirst.frc.team449.robot.drive.unidirectional.DriveUnidirectionalSimple:
      '@id': drive
      leftMotor:
        org.usfirst.frc.team449.robot.jacksonWrappers.FPSTalon:
          '@id': leftdrive
          name: left
          enableBrakeMode: true
          port: 1
          reverseOutput: true
          slaveTalons:
            - port: 2
              invertType: FollowMaster
            - port: 3
              invertType: FollowMaster
      rightMotor:
        org.usfirst.frc.team449.robot.jacksonWrappers.FPSTalon:
          '@id': rightdrive
          name: right
          enableBrakeMode: true
          port: 4
          reverseOutput: false
          slaveTalons:
            - port: 5
              invertType: FollowMaster
            - port: 6
              invertType: FollowMaster

# COMMANDS
commands:
  defaultCommands:
    # DEFAULT DRIVE COMMAND
    - subsystem:
        org.usfirst.frc.team449.robot.drive.unidirectional.DriveUnidirectionalWithGyroShiftable:
          drive
      command:
        org.usfirst.frc.team449.robot.drive.unidirectional.commands.SimpleUnidirectionalDrive:
          '@id': defaultDriveCommand
          subsystem:
            org.usfirst.frc.team449.robot.drive.unidirectional.DriveUnidirectionalWithGyroShiftable:
              drive
          oi:
            org.usfirst.frc.team449.robot.oi.unidirectional.OIOutreach:
              '@id': oi
              overridenOI:
                org.usfirst.frc.team449.robot.oi.unidirectional.arcade.OIArcadeWithDPad:
                  '@id': overriden
                  gamepad:
                    org.usfirst.frc.team449.robot.jacksonWrappers.MappedJoystick:
                      '@id': kidGamepad
                      port: 2
                  rotThrottle:
                    org.usfirst.frc.team449.robot.oi.throttles.ThrottlePolynomial:
                      &orotThrottle
                      '@id': orotThrottle
                      stick: kidGamepad
                      axis: 0
                      smoothingTimeSecs: 0.04
                      deadband: 0.08
                      inverted: false
                      polynomial:
                        org.usfirst.frc.team449.robot.generalInterfaces.doubleUnaryOperator.Polynomial:
                          '@id': orotPoly
                          powerToCoefficientMap: !!map
                            1: .5
                            3: .5
                      scale: .65
                  fwdThrottle:
                    org.usfirst.frc.team449.robot.oi.throttles.ThrottleSum:
                      '@id': ofwdThrottle
                      throttles:
                        - org.usfirst.frc.team449.robot.oi.throttles.ThrottlePolynomial:
                            <<: *orotThrottle
                            '@id': oposThrottle
                            axis: 3
                            inverted: false
                            deadband: 0.05
                            polynomial:
                              org.usfirst.frc.team449.robot.generalInterfaces.doubleUnaryOperator.Polynomial:
                                '@id': oposPoly
                                powerToCoefficientMap: !!map
                                  1: 2
                                  3: 1
                        - org.usfirst.frc.team449.robot.oi.throttles.ThrottlePolynomial:
                            <<: *orotThrottle
                            '@id': onegThrottle
                            axis: 2
                            inverted: true
                            deadband: 0.05
                            polynomial:
                              org.usfirst.frc.team449.robot.generalInterfaces.doubleUnaryOperator.Polynomial:
                                '@id': onegPoly
                                powerToCoefficientMap: !!map
                                  1: 2
                                  3: 1
                  invertDPad: false
                  dPadShift: 0.1
                  turnInPlaceRotScale: 0.5
                  rescaleOutputs: true
                  scaleRotByFwdPoly:
                    org.usfirst.frc.team449.robot.generalInterfaces.doubleUnaryOperator.Polynomial:
                      '@id': overridenScaleRotByFwdPoly
                      powerToCoefficientMap: !!map
                        #0.5: 0.6
                        0: 0.2
                        1: 0.75
              overridingOI:
                org.usfirst.frc.team449.robot.oi.unidirectional.arcade.OIArcadeWithDPad:
                  '@id': oiOverride
                  gamepad:
                    org.usfirst.frc.team449.robot.jacksonWrappers.MappedJoystick:
                      '@id': driverGamepad
                      port: 1
                  rotThrottle:
                    org.usfirst.frc.team449.robot.oi.throttles.ThrottlePolynomial:
                      &rotThrottle
                      '@id': rotThrottle
                      stick: driverGamepad
                      axis: 0
                      smoothingTimeSecs: 0.04
                      deadband: 0.08
                      inverted: false
                      polynomial:
                        org.usfirst.frc.team449.robot.generalInterfaces.doubleUnaryOperator.Polynomial:
                          '@id': rotPoly
                          powerToCoefficientMap: !!map
                            1: .5
                            3: .5
                      scale: .7
                  fwdThrottle:
                    org.usfirst.frc.team449.robot.oi.throttles.ThrottleSum:
                      '@id': fwdThrottle
                      throttles:
                        - org.usfirst.frc.team449.robot.oi.throttles.ThrottlePolynomial:
                            <<: *rotThrottle
                            '@id': posThrottle
                            axis: 3
                            inverted: false
                            deadband: 0.05
                            polynomial:
                              org.usfirst.frc.team449.robot.generalInterfaces.doubleUnaryOperator.Polynomial:
                                '@id': posPoly
                                powerToCoefficientMap: !!map
                                  1: 2
                                  3: 1
                        - org.usfirst.frc.team449.robot.oi.throttles.ThrottlePolynomial:
                            <<: *rotThrottle
                            '@id': negThrottle
                            axis: 2
                            inverted: true
                            deadband: 0.05
                            polynomial:
                              org.usfirst.frc.team449.robot.generalInterfaces.doubleUnaryOperator.Polynomial:
                                '@id': negPoly
                                powerToCoefficientMap: !!map
                                  1: 2
                                  3: 1
                  invertDPad: false
                  dPadShift: 0.1
                  turnInPlaceRotScale: 1
                  rescaleOutputs: true
                  scaleRotByFwdPoly:
                    org.usfirst.frc.team449.robot.generalInterfaces.doubleUnaryOperator.Polynomial:
                      '@id': scaleRotByFwdPoly
                      powerToCoefficientMap: !!map
                        0.5: 0.4
                        0: 0.2
                        #1 : 0.25
                        #2: 0.25
              stopButton:
                org.usfirst.frc.team449.robot.oi.buttons.SimpleButton:
                  '@id': override
                  joystick:
                    org.usfirst.frc.team449.robot.jacksonWrappers.MappedJoystick:
                      driverGamepad
                  buttonNumber: 1 #A
# UPDATER
updater:
  org.usfirst.frc.team449.robot.other.Updater:
    '@id': updater
    updatables:
      - org.usfirst.frc.team449.robot.drive.unidirectional.DriveUnidirectionalWithGyroShiftable: drive
      - org.usfirst.frc.team449.robot.oi.unidirectional.arcade.OIArcadeWithDPad: oi
      - org.usfirst.frc.team449.robot.jacksonWrappers.PDP: PDP
